/alacritty-0.5.0.crate
/alacritty-github-sources-0.5.0.tar.gz
/alacritty-0.6.0.crate
/alacritty-github-sources-0.6.0.tar.gz
/alacritty-0.7.1.crate
/alacritty-github-sources-0.7.1.tar.gz
/alacritty-0.7.2.crate
/alacritty-github-sources-0.7.2.tar.gz
